@import url(https://fonts.googleapis.com/css?family=Pacifico);
html,
body {
    background-color: #EDEDED;
    margin: 30px;
    height: 80%;
    padding: 0;
}

h1 {
    font-family: 'Pacifico', cursive, sans-serif;
    font-size: 50px;
}